<div class="google-ads" style="margin-top:40px; text-align:center;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Imbue -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2988067515010693"
     data-ad-slot="5002142332"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
 </div>
<style>
.adsense {
     width: 320px; height: 100px; 
}
@media(min-width: 500px) {
     .adsense { width: 468px; height: 60px; 
     } 
  }
@media(min-width: 800px) {
     .adsense { width: 728px; height: 90px; 
     } 
}
</style>
