<style>
.MyAds {
     width: 320px; height: 100px; 
}
@media(min-width: 500px) {
     .MyAds {
          width: 468px; height: 60px; 
     } 
}
@media(min-width: 800px) {
     .MyAds {
          width: 728px; height: 90px; 
     } 
}
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Imbue -->
<ins class="adsbygoogle MyAds"
     style="display:block"
     data-ad-client="ca-pub-2988067515010693"
     data-ad-slot="5002142332"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
