<meta charset="utf-8">
<!--<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="./assets/img/favicon.png">-->
<title>{{ site.title }}</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>

<!--     Fonts and icons     -->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/0bb7deab4a.css"> -->
<!-- CSS Files -->
<link rel="stylesheet" href="{{ site.baseurl }}/asset/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/asset/css/material-kit.min.css"> -->
<!-- CSS Just for demo purpose, don't include it in your project -->
<link rel="stylesheet" href="{{ site.baseurl }}/asset/css/main.css">
