	<!--   Core JS Files   -->
        <script src="{{ site.baseurl }}/asset/js/jquery.min.js"</script>
        <script src="{{ site.baseurl }}/asset/js/nouislider.min.js"></script>
        <script src="{{ site.baseurl }}/asset/js/super-search.js"></script>
	<script src="{{ site.baseurl}}/asset/js/bootstrap.min.js"></script>
        <!-- <script src="{{ site.baseurl }}/asset/js/lunr.js"></script> -->
	<script src="{{ site.baseurl }}/asset/js/material.min.js"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="{{ site.baseurl }}/asset/js/bootstrap-datepicker.js"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="{{ site.baseurl }}/asset/js/material-kit.js"></script>
