	<!--   Core JS Files   -->
        <script src="{{ site.baseurl }}/asset/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/asset/js/nouislider.min.js"></script>
	<script src="{{ site.baseurl}}/asset/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/asset/js/material-kit.js"></script>
        <script src="{{ site.baseurl }}/asset/js/super-search.js"></script>
        <script src="{{ site.baseurl }}/asset/js/bootstrap-datepicker.min.js"></script>
	<script src="{{ site.baseurl }}/asset/js/material.min.js"></script>
